# Python
backend/.venv/
backend/__pycache__/
backend/**/__pycache__/
backend/*.sqlite3
backend/staticfiles/
logs/
*.log
backend/media/

# Node
frontend/node_modules/
frontend/dist/

# Env
.env
backend/.env
frontend/.env

# IDE
.idea/
.vscode/
